<h1>id=
<%= @tasklist.id %>
のタスクリスト</h1>

<p>
<%= @tasklist.content %>
</p>

<%= link_to "一覧に戻る", tasklists_path %>

<%= link_to "このタスクリストを編集する", edit_tasklist_path(@tasklist) %>

<%=link_to "このタスクリストを削除する", @tasklist, method: :delete,data: {confirm:"本当に削除してよろしいですか？" } %>
